{% apply inline_css %}
<style>
	/* Styles CSS pour l'e-mail */
	body {
		font-family: Arial, sans-serif;
		font-size: 14px;
		line-height: 1.6;
		background-color: #f4f4f4;
		padding: 20px;
	}
	.container {
		max-width: 600px;
		margin: 0 auto;
		background-color: #fff;
		padding: 20px;
		border-radius: 5px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	}
	h2 {
		color: #333;
	}
	p {
		margin-bottom: 20px;
	}
	.button {
		display: inline-block;
		background-color: #007bff;
		color: #fff;
		text-decoration: none;
		padding: 10px 20px;
		border-radius: 5px;
	}
	.logo {
		text-align: center;
		margin-bottom: 20px;
	}
	.logo img {
		max-width: 60px;
	}

	hr {
		width:60%; 
		margin: 20px auto;
		border: 1px solid #f4f4f4;
	}
</style>
<div class="container">
	<h2>Confirmation de demande d'Opération Tranquillité Vacances</h2>
	<p>Bonjour
		{{ lastname }}
		{{ firstname }},</p>
	<p>Votre demande a été envoyée à la Police Municipale de Marcq-en-Baroeul. Vous trouverez ci-dessous le récapitulatif de votre demande.</p>
	<h3>Période de vacances</h3>
	<ul>
		<li>
			du
			{{ startDate }}
			au
			{{ endDate }}</li>
	</ul>
	<h3>Adresse</h3>
	<ul>
		{% set address = [additionalStreetNumber, streetNumber, additionalAddressInfo, street] %}
		{% if address|filter(v => v is not null)|length > 0 %}
			<li>Quartier :
				{{ district}}</li>
			<li>
				{% for info in address %}
					{% if info %}
						{{ info }}
					{% endif %}
				{% endfor %}
				59700 Marcq-en-Baroeul</li>
		{% endif %}
	</ul>
	<h3>Coordonnées</h3>
	<ul>
		<li>Numéro de téléphone mobile :
			{{ mobilePhone }}
		</li>
		{% if landlinePhone %}
			<li>Numéro de téléphone fixe :{{landlinePhone }}</li>
		{% endif %}
		<li>Courriel :
			{{courriel}}</li>
	</ul>
	{% set emergency1 = [emergency_civility_1, emergency_lastname_1, emergency_firstname_1, emergency_mobilePhone_1, emergency_landlinePhone_1, emergency_email_1 ] %}
	{% set emergency2 = [emergency_civility_2, emergency_lastname_2, emergency_firstname_2, emergency_mobilePhone_2, emergency_landlinePhone_2, emergency_email_2 ] %}
	{% set emergency3 = [emergency_civility_3, emergency_lastname_3, emergency_firstname_3, emergency_mobilePhone_3, emergency_landlinePhone_3, emergency_email_3 ] %}
	{% if emergency1|filter(v => v is not null)|length > 0 or emergency2|filter(v => v is not null)|length > 0 or emergency3|filter(v => v is not null)|length > 0 %}
		<h3>Personnes à prévenir</h3>
		<ul>
			{% if emergency1|filter(v => v is not null)|length > 0 %}
				<li>
					{% for info in emergency1 %}
						{% if info %}
							{{ info }}
						{% endif %}
					{% endfor %}
				</li>
			{% endif %}
			{% if emergency2|filter(v => v is not null)|length > 0 %}
				<li>
					{% for info in emergency2 %}
						{% if info %}
							{{ info }}
						{% endif %}
					{% endfor %}
				</li>
			{% endif %}
			{% if emergency3|filter(v => v is not null)|length > 0 %}
				<li>
					{% for info in emergency3 %}
						{% if info %}
							{{ info }}
						{% endif %}
					{% endfor %}
				</li>
			{% endif %}
		</ul>
	{% endif %}

	<h3>Informations sur le lieu à surveiller :</h3>
	<ul>
		{% if houseType %}
			<li>Type de logement :
				{{ houseType }}</li>
		{% endif %}
		{% if car %}
			<li>Voiture :
				{{ car }}
			</li>
		{% endif %}
		{% if lightsSchedule %}
			<li>Horaires des éclairages :
				{{ lightsSchedule }}</li>
		{% endif %}
		{% if blindsSchedule %}
			<li>Horaires des volets automatiques :
				{{ blindsSchedule }}</li>
		{% endif %}
		{% if authorizedPersons %}
			<li>Personnes autorisées :
				{{ authorizedPersons }}</li>
		{% endif %}
		{% if additionalInfo %}
			<li>Informations supplémentaires :
				{{ additionalInfo }}</li>
		{% endif %}
		{% if hasAnimal %}
			<li>Présence d'un animal :
				{{ hasAnimal }}
			</li>
		{% endif %}
		{% if hasAlarm %}
			<li>Alarme :
				{{ hasAlarm }}</li>
		{% endif %}
		{% if hasAlarmExt %}
			<li>Alarme extérieure :
				{{ hasAlarmExt }}</li>
		{% endif %}
		{% if hasCamera %}
			<li>Caméra :
				{{ hasCamera }}</li>
		{% endif %}


	</ul>
	<hr>

	<table width="100%">
		<tr>
			<td class="logo">
				<img src="{{ logoPolice }}" alt="Logo">
			</td>
			<td class="signature">
				Cordialement,<br>
				Police Municipale de Marcq-en-Baroeul<br>
				111 Av. du Maréchal Foch<br>
				59700 Marcq-en-Barœul<br>
				Téléphone : 03 20 45 43 36
			</td>

		</tr>
	</table>


</div>
{% endapply %}
